.license-error {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  background-repeat: no-repeat;
  margin: 60px auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 40px;
  width: 700px;
  min-height: 200px;
}
.license-error h3 {
  text-align: left;
  padding: 0;
  color: #333333;
  font-weight: normal;
  font-size: 24px;
}
.license-error h3 + .aui-button,
.license-error p + .aui-button {
  margin-top: 20px;
}
.license-error p {
  padding: 0;
  color: #333333;
  margin-top: 20px;
}