#users-table .private-repos-permissions-table,
#groups-table .private-repos-permissions-table
 {
	margin-top: 20px;
}

.private-repos-permissions-table thead .add-form-row {
	padding: 10px 10px;
	border-top: 1px solid #c5c5c5;
	border-bottom: 1px solid #c5c5c5;
	background-color: #f5f5f5;
}

.private-repos-permissions-table thead .add-form-row .search-input {
	max-width: none;
	width: 100%;
}

.private-repos-permissions-table thead .name-column {
	text-align: left;
	margin-left: 10px;
}

.private-repos-permissions-table thead .actions-column {
	text-align: right;
	margin-right: 10px;
}

.private-repos-permissions-table thead .actions-item {
	width: 80px;
}

.private-repos-permissions-table tbody .actions {
	width: 80px;
	text-align: right;
}

.select2-result-label .email-address {
	color: #707070;
	font-size: 12px;
	margin-left: 10px;
}

.select2-highlighted .select2-result-label .email-address {
	color : #fff;
}

.repository-name .aui-icon {
	margin-right: 10px;
}

.repositories-section .expander {
	width: 20px;
}