{namespace admin}

/**
 * Displays admin panel
 */
{template .panel}
	<html>
	<head>
	    <meta name="decorator" content="atl.admin">
	    <meta name="activeTab" content="admin-private-repos">
	    <title>XXX</title>
	</head>
	<body>
	   fewfew
	</body>
	</html>
{/template}