{namespace org.networkedassets.personalrepos.repositories}

/**
 * Repositories loader
 * 
 */
{template .empty}
    {getText('org.networkedassets.atlassian.bitbucket.personalrepos.repositories.empty')} 
{/template}