{namespace org.networkedassets.personalstash.repositories}

/**
 * Repositories loader
 * 
 */
{template .empty}
    {getText('org.networkedassets.atlassian.stash.personalstash.repositories.empty')} 
{/template}