{namespace org.networkedassets.personalRepos.repositories}

/**
 * Repositories loader
 * 
 */
{template .loader}
    <div class="loading-message">
        <h1>We're searching for personal repositories...</h1>
        <span class="aui-icon aui-icon-wait"></span>
    </div>
{/template}