{namespace org.networkedassets.personalstash.repositories}

/**
 * Repositories loader
 * 
 */
{template .loader}
    <div class="loading-message">
        <h1>{getText('org.networkedassets.atlassian.stash.personalstash.permissions.repositories.loader.header')}</h1>
        <span class="aui-icon aui-icon-wait"></span>
    </div>
{/template}