{namespace org.networkedassets.personalRepos.repositories}

/**
 * Groups table
 * 
 * @param owner
 */
{template .ownerRow}
        <td>
        	{call org.networkedassets.personalRepos.userWithAvatar}
        		{param user}{$owner}{/param}
        	{/call}
        </td>
        <td>{$owner.repositoriesSize}</td>
{/template}