{namespace org.networkedassets.personalRepos.repositories}

/**
 * Groups table
 * 
 * @param owner
 */
{template .owner}
	<tr>
        <td>
        	{call org.networkedassets.personalRepos.userWithAvatar}
        		{param user: $owner/}
        	{/call}
        </td>
        <td>{$owner.repositoriesSize}</td>
    </tr>
{/template}