{namespace org.networkedassets.personalstash.repositories}

/**
 * Groups table
 */
{template .table}
<table class="aui">
    <thead>
        <tr>
        	<th></th>
            <th class="sort-column name-column asc" data-sort-by="name">Name</th>
            <th class="selected sort-column size-column desc" data-sort-by="size">Size on disk</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<div class="pagination-holder">
</div>
{/template}