{namespace org.networkedassets.personalRepos.repositories}

/**
 * Groups table
 */
{template .table}
    <thead>
        <tr>
        	<th></th>
            <th class="sort-column name-column" data-sort-by="name">Name</th>
            <th class="selected sort-column size-column" data-sort-by="size">Size on disk</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
    <tfoot>
    	<td colspan="3" class="pagination-holder">
		</td>
    </tfoot>
{/template}